.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Show only 3 lines */
    -webkit-box-orient: vertical;
}

.read_more {
    color: blue;
    cursor: pointer;
}